body {
    height: 100%;
    background-color: #12181B;
    color: white;
    font-family: 'Itim', cursive;
}

main {
    margin: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 60px;
}

#container {
    margin: 20px 0;
    height: 25rem;
    width: 25rem;
    display: grid;
    border: 3px double white;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.cell {
    border: 1px solid white;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    cursor: pointer;
}

footer {
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    height: 40px;
    font-size: 15px;
    text-align: center;
}

a, a:hover {
    text-decoration: none;
    color: white;
}